body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("imgs/fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.car-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
}

.car-container button {
  padding: 0;
  border: none;
  background: white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.car-container button img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 15px;
  transition: width 0.3s ease;
}

.car-container button img:hover {
  width: 120%;
  height: auto;
}

.car-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.car-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-container button:hover {
  cursor: pointer;
  width: 12%;
}

.tracks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.track-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 300px;
  text-align: center;
  position: relative;
}

.track-card :hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

.track-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.car-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  opacity: 0.8;
}

.track-info {
  padding: 15px;
}

.track-info h2 {
  margin: 10px 0;
  font-size: 1.5em;
}

.track-info p {
  margin: 5px 0;
  font-size: 1em;
}
